.social-btn {
    height: 50px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: blue;
    border: 1px solid black;
}

@import "bootstrap-sprockets";
@import "bootstrap";
